/* Navbar.css */
.navbar-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #f9d84a;
}
.contact-info{
  display: flex;
  flex-direction: row;
}
.contact-info span {
  margin-right: 15px;
   display: flex;
  align-items: center; 
}

.contact-info svg {
  margin-right: 5px;
}

.social-icons a {
  align-items: center;
  display: flex;
  margin-right: 10px;
  font-size: 1.2rem;
  color: #333;
  display: inline-block;
}

.social-icons a:hover {
  color: #02694a; /* Change to desired hover color */
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  height: 80px; /* Set a fixed height for the navbar */
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%; /* Make logo container take full height of navbar */
}

.navbar-logo a {
  text-decoration: none;
}

.logo-image {
  max-height: 100%;
  width: 50%;
  object-fit: contain;
  padding-top: 17%;
  padding-right: 50%;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-links-container {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
  margin: 0 15px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #F2AB3A;
  font: bolder;
   /* Change to desired hover color */
}

.contact-button {
  background: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #F2AB3A;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
  }

  .navbar-links-container.open {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 0;
    width: 100%;
  }

  .navbar-links a {
    width: 100%;
    padding: 10px 20px;
  }

  .contact-button {
    margin-left: auto;
  }
}
